/* *{
    border: 2px solid black;
} */

body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #ECE3CE;
    font-weight: bold;
    font-size: 32px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 2px solid black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background-color: rgb(34, 179, 94);
}

.calculator{
    border: 10px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    background-color: rgb(20, 122, 140);
}

.display{
    border: 2px solid black;
    width: 495px;
    height: 80px;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: flex-end;
    font-size: 75px;
}

.buttons{
    width: 495px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display-rows{
    width: 480px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
}

.button{
    background-color: #3A4D39;
    font-weight: bold;
    width: 150px;
    height: 90px;
    font-size: 25px;
    color: white;
}

#clear{
    background-color: #F875AA;
}